@import "tailwindcss";

:root {
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--color-background-color: hsl(47, 88%, 63%);
	--color-gray-950: #111111;
	--color-gray-500: #6b6b6b;
	--font-figtree: "Figtree", sans-serif;
}

@layer utilities {
	.text-preset-3-bold {
		@apply font-figtree text-xs md:text-[14px] leading-[150%] font-extrabold tracking-tight;
	}
	.text-preset-1 {
		@apply font-figtree text-[22px] md:text-2xl font-extrabold leading-[150%] hover:text-background-color hover:cursor-pointer tracking-tight;
	}
	.text-preset-2 {
		@apply font-figtree text-sm md:text-base font-medium leading-[150%] tracking-tight;
	}

	.text-preset-3 {
		@apply font-figtree text-xs md:text-sm font-medium leading-[150%] tracking-tight;
	}
}
